@charset "utf-8";

/*--------------共通部分------------*/
html,body,div,span,iframe,h1,h2,h3,h4,h5,p,a,img,ul,li,table,tr,th,td,tbody,footer,header,main,nav,section {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    list-style: none;
    text-decoration: none;
  }
  
html {
    font-size: 100%;
}

body {
    font-family: "yu Gothic Medimu", "游ゴシック Medium", YuGothic, "游ゴシック体","ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
          color: rgb(0, 0, 0);
}

a {
     text-decoration: none;
}

img {
    max-width: 100%;
}

/*--------------header------------*/

.logo{
    width: 210px;
    margin-top: 5px;
}

.main-nav{
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
}

.main-nav li{
    margin-left: 36px;
}

.main-nav a {
    color: rgb(0, 0, 0);
}

.main-nav a:hover{
    color: #0bd;
}

.page-header{
    display: flex;
    justify-content: space-between;
}

.wrapper{
    max-width: 1100px;
    margin:  0 auto;
    padding: 0 4%;
}

/*------HOME---------*/
.home-content {
    text-align: center;
    margin-top: 5%;
}

.home-content p {
    font-size:  2rem;
}

/*見出し*/
.page-title {
    font-size: 4rem;
    font-family: 'Philosopher', serif ;
    text-transform: uppercase;
    font-weight: normal;
    margin-top: 190px;
}

/*ボタン*/
.button{
    font-size: 1.375rem;
    background-origin: #0bd;
    color: #fff;
    border-radius: 5px;
    padding: 18px 32px;
}

.button:hover{
    background: #0090aa;
}

/*------背景画像--------*/

.big-bg{
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.big-box{
    grid-column: 1/3;
    grid-row: 1/3;
}

#home {
    background-image: url(../images/luis-melendez-Pd4lRfKo16U-unsplash.jpg) ;
    /*background-color: rgb(199, 196, 193);*/
    min-height: 100vh;
}

#home .page-title{
    text-transform: none;
}

.grid{
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
    margin-top: 6%;
    margin-bottom: 50px;
    color: rgb(0, 0, 0);

}


/* ------記事部分------- */
article{
    width: 74%;
}

/* ------サイドバー------- */

.news-contents{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

/* ------サイドバー------- */

.news-contents{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.sub-title{
    font-size: 1.375rem;
    padding: 0 8px 8px;
    border-bottom: 2px #0bd solid;
    font-weight: normal;
}

.sub-menu{
    margin-bottom: 60px;
    list-style: none;
}
.sub-menu li{
    border-bottom: 1px #ddd solid;
}
.sub-menu a{
    color: #432;
    padding: 10px;
    display: block;
}
.sub-menu a:hover{
    color: #0bd;
}

/*-----Contakt-------*/
#contact{
    background-image: url(../images/kelly-sikkema-YYpK24V55-w-unsplash.jpg);
    min-height: 100vh;
}

/*-----form---------PHPを導入しないのであれば不要*/
form div{
    margin-bottom: 14px;
}
label{
    font-size: 1.125rem;
    margin-bottom: 10px;
    display: block;
}
input[type="text"],
input[type="email"],
textarea{
    background: rgba(255, 255, 255, .5);
    border: 1px #fff solid;
    padding: 10px;
    font-size: large;
}
input[type="text"],
input[type="email"]{
    width: 100%;
    max-width: 240px;
}
textarea{
    width: 100%;
    max-width: 480px;
    height: 6rem;
}
input[type="submit"]{
    border: none;
    cursor: pointer;
    line-height: 1;
}

/*----------店舗・地図情報---------------*/
 .location{
    padding: 4% 0;
}
#location .wrapper{
    display: flex;
    justify-content: space-between;
}
.location-info{
    width: 22%;
}
.location-info p{
    padding: 12px 10px;
}
.location-map{
    width: 74%;
}

/* -----iframe---------- */
iframe{
    width: 100%;
} 


/* --sns-- */

#sns{
    background: rgba(252, 252, 252, 0.467);
    padding: 4% 0;
}

#sns .wrapper{
    display: flex;
    justify-content: space-between;
}

#sns .sub-title{
    margin-bottom: 30px;
}

.sns-box{
    width: 30%;
}




/*----------モバイル版------------------*/
@media (max-width: 600px){

    .wrapper{
        margin-top: 20px;
    }
    .page-title{
        font-size: 3.6rem;
    }

    /*--head--*/
    .main-nav{
        display: grid;
        grid-template-columns: 150px 150px 150px;
        font-size: 0.9rem;
        margin-top: 10px;
    }
    .main-nav li{
        margin:  0 10px;
    }

    /*--home--*/
    .home-content{
        margin-top: 20%;
    }

    .page-header{
        flex-direction: column;
        align-items: center;
    }
}

/*-----form---------PHPを導入しないのであれば不要*/
input[type="text"],
input[type="email"],
textarea{
    max-width: 100%;
}
/*-----Contact-----PHPを導入しないのであれば不要*/
#contact .page-title{
    margin-top: 40px;
}

/* ------店舗情報・地図--/sns---------- */

#location .wrapper,
#sns .wrapper{
    flex-direction: column;
}
.location-info,
.location-map,
.sns-box{
    width: 100%;
}
.sns-box{
    margin-bottom: 30px;
}

/*------------footer--------------------*/
footer{
    background: rgb(168, 185, 233);
    text-align: center;
    padding: 26px 0;
}
footer p {
    color: #fff;
    font-size: 0.875rem;
}
